.vagrant/
*.log
*.tmp
*.retry
#
notes.txt
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfplan

# Terraform CLI installer
*.msi

monitoring-current-values.txt
monitoring-manifest.yaml